body {
  display: flex;
  justify-content: center;
  background-color: gray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  ;
}

label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

input {
  margin-bottom: 25px;
}
